<div class="event-app-footer">
  <div class="col-md-12 social-icons">
      <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-official"></i></a>
      <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter-square"></i></a>
      <a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus-square"></i></a>
      <a  href="https://www.wikipedia.com/" target="_blank"><i class="fa fa-wikipedia-w"></i></a>
  </div>
<footer class="page-footer font-small cyan darken-3">
    <div class="footer-copyright text-center py-3">© 2018 Copyright: HealthApplication.com</div>
</footer>
</div>
