<div class="departments">
  <fieldset>
      <legend>CARDIOLOGY:</legend>
        <div class="dept-des blocks">This department provides medical care to patients who have problems with their heart or circulation. It treats people on an inpatient and outpatient basis.Typical procedures performed include:electrocardiogram (ECG) and exercise tests to measure heart function echocardiograms (ultrasound scan of the heart) scans of the carotid artery in your neck to determine stroke risk 24-hour blood pressure tests insertion of pacemakers cardiac catheterisation (coronary angiography) to see if there are any blocks in your arteries.</div>
        <div class="card-image dept-img blocks"></div>
    </fieldset>
    <fieldset>
        <legend>NEUROLOGY:</legend>
          <div class="dept-des blocks">This unit deals with disorders of the nervous system, including the brain and spinal cord. It's run by doctors who specialise in this area (neurologists) and their staff.There are also paediatric neurologists who treat children. Neurologists may also be involved in clinical research and clinical trials.Specialist nurses (epilepsy, multiple sclerosis) liaise with patients, consultants and GPs to help with any problems that may occur between outpatient appointments.</div>
          <div class="nuero-image dept-img blocks"></div>
      </fieldset>
      <fieldset>
          <legend>OPHTHALMOLOGY:</legend>
            <div class="dept-des blocks">Eye departments provide a range of ophthalmic services for adults and children, including: general eye clinic appointments laser treatments optometry (sight testing) orthoptics (non-surgical treatments, eg for squints) prosthetic eye services ophthalmic imaging (eye scans).</div>
            <div class="opt-image dept-img blocks"></div>
        </fieldset>
  </div>
  
