<div class="contacts">
  <fieldset>
      <legend>Contact Us:</legend>
      <div class="col-xs-12 col-sm-5 borL bott-right-wrap" id="map-location-address1"> 
        <h3>Address</h3> 
        <address> <strong class="blue-font">Health Apllication</strong>
          <br>98, Airport road,<br>
          Hyderabad - 500032<br> 
        </address> 
        <h3>Email</h3>
         <a href="mailto:info@healthapp.com" class="cont-mail">info@healthapp.com</a>
          <h3>Telephones</h3> 
          <p class="tel-pad"><strong>Numbers:
             </strong><a href="tel:180030014000">1800-3001-4000</a><br>
            </p> <p class="tel-pad"><strong>Fax: </strong>040 - 25266757</p> 
            <h3>Working Hours</h3> <p class="work-hr">24/7 (Emergency Department)</p>
           </div>
  </fieldset>
</div>
