.contacts {
    position: absolute;
    top: 10%;
    left: 15%;
    min-height: 300px;
    background: white;
    border-radius: 30px;
    width: 60%;
    padding: 40px;
}
fieldset {
    border: 2px solid green;
    margin-bottom: 20px;
}
legend {
    width: auto;
    font-size: 25px;
    color: orange;
    padding: 0 10px;
}
h3 {
    color: #999;
    font-size: 30px;
    text-transform: uppercase;
}
strong.blue-font{
    color: #034ea2;
}
address {
    color: #333;
    margin-bottom: 20px;
}
