<div>
  <br />
  <h3>Patients</h3>
  <br />
 
  <br />
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Consulted By</th>
        <th>Consulted</th>
        <th>Complaints</th>
        <th>Results</th>
        <th>Prescription</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients; let i=index">
        <td>{{patient._id.substr(0, 5)}}</td>
       
        <td>
          <a routerLink="/update-patient/{{patient._id}}">{{patient.firstName}} {{patient.lastName}}</a>
        </td>
        <td>{{patient.address}}</td>
        <td>{{patient.phone}}</td>
        <td>{{patient.consultedBy}}</td>
        <td>{{patient.consulted}}</td>
        <td>{{patient.complaints}}</td>
        <td>{{patient.Results}}</td>
        <td>{{patient.Prescriptions}}</td>
        <!-- TODO: Enter table list here for patients -->
        <td>
          <button type="button" class="btn" data-toggle="modal" data-target="#myModal" (click)="setId(patient._id, i)"><span class="glyphicon glyphicon-trash"></span></button>
        </td>
      </tr>
    </tbody>

    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delete Patient</h4>
          </div>
          <div class="modal-body">
            <p>You are about to delete a patient. This action is irreversible. Are you sure?</p>
            <input type="password" class="form-control" placeholder="Enter password" [(ngModel)]="password">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deletePatient()">Delete</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    
      </div>
    </div>
  </table>
  <button type="button" class="btn btn-primary" ng-click="addPatient()">
    <a routerLink="/add-patient" style="color: #fff;">Add Patient</a>
  </button>
</div>