<div>
  <form autocomplete="off" [formGroup]="patientForm">
    <div class="add-component-block col-md-12">
      <h3 class="text-center">Add Patient</h3>
      <div class="col-md-12 col-xs-12 user-group mt-3"
      [class.invalid]="submitted && patientForm.controls['firstName'].errors?.required">
      <input autocomplete="first-name" type="text" formControlName="firstName" id="firstName" required>
      <label for="firstName">First Name</label>
      <div class="error-msg-container">
        Enter valid firstName.
      </div>
    </div>
    <div class="col-md-12 col-xs-12 user-group mt-3"
    [class.invalid]="submitted && patientForm.controls['lastName'].errors?.required">
    <input autocomplete="last-name"  type="text" formControlName="lastName" id="lastName" required>
    <label for="lastName">Last Name</label>
    <div class="error-msg-container">
      Enter valid lastName.
    </div>
  </div>
  <div class="col-md-12 col-xs-12 user-group mt-3"
  [class.invalid]="submitted && patientForm.controls['age'].errors?.required">
  <input  autocomplete="age" type="text" formControlName="age" id="age" required>
  <label for="age">Age</label>
  <div class="error-msg-container">
    Enter valid age.
  </div>
</div>
<div class="col-md-12 col-xs-12 user-group mt-3"
[class.invalid]="submitted && patientForm.controls['gender'].errors?.required">
<input autocomplete="gender" type="text" formControlName="gender" id="gender" required>
<label for="gender">Gender</label>
<div class="error-msg-container">
  Enter valid gender.
</div>
</div>
<div class="col-md-12 col-xs-12 user-group mt-3"
[class.invalid]="submitted && patientForm.controls['address'].errors?.required">
<input autocomplete="address"  type="text" formControlName="address" id="address" required>
<label for="type">Address</label>
<div class="error-msg-container">
  Enter valid address.
</div>
</div>
<div class="col-md-12 col-xs-12 user-group mt-3"
[class.invalid]="submitted && patientForm.controls['phone'].errors?.required">
<input autocomplete="phone" type="text" formControlName="phone" id="phone" required>
<label for="type">Phone</label>
<div class="error-msg-container">
  Enter valid phone.
</div>
</div>
<div class="col-md-12 col-xs-12 user-group mt-3"
[class.invalid]="submitted && patientForm.controls['consultedBy'].errors?.required">
<input  autocomplete="consultedBy"  type="text" formControlName="consultedBy" id="consultedBy" required>
<label for="type">consultedBy</label>
<div class="error-msg-container">
  Enter valid consulatant name.
</div>
</div>
<div class="col-md-12 col-xs-12 user-group mt-3" [class.invalid]="submitted && 
(patientForm.controls['complaints'].errors?.required)">
<input autocomplete="complaints" class="complaints" type="text" formControlName="complaints" id="complaints">
<label for="length">complaints</label>
<div class="error-msg-container">
  <span *ngIf="patientForm.controls['complaints'].errors?.required">Enter valid comments.</span>
</div>
</div>
<div class="col-md-12 col-xs-12 user-group mt-3">
  <button class="blue-btn " type="button" (click)="addPatient()">Submit</button>
</div>
</div>
</form>
</div>