<div class="signup-component">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <form  autocomplete="off" [formGroup]="signUpForm" (ngSubmit)="signUp()">
          <div class="form-fields">
            <div class="login">Create Account</div>
            <div class="col-md-12 col-xs-12 user-group" [class.invalid]="submitted && signUpForm.controls['firstname'].errors?.required">
              <input type="text" formControlName="firstname"  id="firstname" required>
              <label for="firstname">Firstname</label>
              <div class="error-msg-container">
                Enter Valid firstname.
              </div>
            </div>
            <div class="col-md-12 col-xs-12 user-group mt-20" [class.invalid]="submitted && signUpForm.controls['lastname'].errors?.required">
              <input type="text" formControlName="lastname"  id="lastname" required>
              <label for="lastname">Lastname</label>
              <div class="error-msg-container">
                Enter Valid lastname.
              </div>
            </div>
            <div class="col-md-12 col-xs-12 user-group mt-20" [class.invalid]="submitted && signUpForm.controls['username'].errors?.required">
                <input type="text" formControlName="username"  id="username" required>
                <label for="username">UserName</label>
                <div class="error-msg-container">
                  Enter Valid Username.
                </div>
              </div>
            <div class="col-md-12 col-xs-12 user-group mt-20" [class.invalid]="submitted && signUpForm.controls['password'].errors?.required">
              <input type="password" formControlName="password"  id="password" required>
              <label for="password">Password</label>
              <div class="error-msg-container">
                Enter Valid Password.
              </div>
            </div>
            <div class="col-md-12 col-xs-12 align-center mt-20">
              <button type="submit" class="blue-btn">Signup</button>
              <p class="signin-question mt-20">If you have already registered</p>
              <a class="create-account-link" routerLink="/login">Login</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>